*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4E5F82;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.container{
    margin: 10%;
    padding: 1rem;
    width: 35%;
    /* height: 60vh; */
    background-color: #77d2c6;
    text-align: center;
    border-radius: 1rem;
}

h2{
    margin: .5em 0;
    font-size: 1.5rem;
}

form{
    /* background-color: rgb(138, 195, 138); */
    margin: 2rem 0;
}

form select, button, input {
    width: 40%;
    height: 1.5em;
    border: none;
    outline: none;
    border-radius: .75em;
    /* margin-bottom: 1rem; */
    background-color: transparent;
}

form input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2rem;
    text-align: center;
}

.dropdown{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    text-align: start;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.dropdown .from, .to {
    width: 7rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: .75rem;
    border: 1px solid gray;
}

.select-container select {
    margin-left: .5rem;
    width: auto;

}

.msg {
    margin: 1rem 0;
}

button{
    height: auto;
    width: auto;
    padding: .70em;
    margin: .5em 0;
    background-color: #83a04d;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}


/* phone */
@media only screen and (max-width: 600px) {
    body{
        margin: 3rem 0;
    }

    .container {
        margin: 5%;
        width: 90%;
    }

    form select, button, input {
        width: 90%;
    }
}